@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:16px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body{
     width:100vw;
     overflow-x: hidden;
     color: #fff;
    background: url('bg.png')  no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}
a{
    display: block;
    color: #fff;
}
.gradbutton{
    color: #fff;
    width: 105px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
}
.gradbutton:hover{
    background: none;
    outline: 1px solid #EA00AD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}
.header__container{
    max-width: 1440px;
    padding: 42px 0px;
    display: flex;
   margin: 0 auto;
    justify-content: space-around;
}
.header-button{
    font-family: 'Open Sans', sans-serif;
    padding: 12px 24px;
}
.logo img{
    height: 32px;
    width: 32px;
    margin-right: 8px;
}
.logo{
    display: flex;
    font-family: 'Ruda', sans-serif;
    font-size: 24px;
    line-height: 29px;
    margin-right: 10%;
}
.menu{ 
    margin: auto auto;
    width: 40%;
    font-family: 'Open Sans', sans-serif; 
}
.menu__link{
    transition: 0.9s ease;
}
.menu__link:hover{
    border-bottom: 4px solid #ffffff;
    padding: 6px 0; 
    transition: 0.3s ease;
}
.menu__list{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.login{
    display: flex;
    align-items: center;
}
.login p{
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-right: 24px;
}
.login p:hover{
    border-bottom: 4px solid #ffffff;
    padding: 6px 0; 
    transition: 0.3s ease;
}
.container{
    max-width:1440px;
    margin: 0 auto;
}
.section__one{
    margin-left: 100px;
}
.section__one-content{
    display: flex;
    justify-content: space-between;
}
.rightblock{
    max-width: 499px;
}
h1{
    font-family: 'Ruda', sans-serif;
    text-align: left;
    font-weight: 600;
    font-size: 64px;
    line-height: 82px;  
}
.rightblock__title {
    max-width: 430px;
    margin-bottom: 12px;
}
.rightblock__title span{
    font-weight: 700;
    font-size: 64px;
    line-height: 82px;
    background: linear-gradient(259.74deg, #AF25D3 75.33%, #9725D6 85.93%, #5E23D9 98.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.rightblock-content{
    display: flex;
    flex-direction: column;
}
.leftblock{
    max-width: 750px;
}
.rightblock__text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #D7D7D7;
    margin-bottom: 40px;
}
.rightblock__buttons{
    display: flex;
    align-items: center;
    max-width: 313px;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 76px;
}
.rightblock-button{
    width: 123px;
    height: 54px;
    padding: 16px 32px;
    font-weight: 600;
    line-height: 22px;
}
.rightblock__counter_content{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 24px 47px;
    background: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(2px);
}
.rightblock__counter_content-item p:nth-child(1){
    font-family: 'Ruda', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 10px;
}
.rightblock__counter_content-item p:nth-child(2){
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #D7D7D7;
}
.leftblock{
   margin-bottom: 148px; 
}
.leftblock-content-img{
    transition: 2s ease;
}
.leftblock-content-img:hover{
    scale: 1.1;
    transition: 0.5s ease;
}
.leftblock-content{
    position: relative;
    width: 746px;
    height: 713px;
}
.leftblock-content-img{
    position: absolute;
}
.main-img{
    top: 220px;
    left: 57px;
    width: 499px;
    height: 493px;
}
.left-up-img{
    top: 0;
    left: 0;
    width: 140px;
    height: 140px;
}
.right-up-img{
    z-index: 3;
    top: 58px;
    right: 40px;
}
.right-img{
    right: 0px;
    bottom: 79px;
}
.up-img{
    top: 0;
    left: 301px;
}
.section__two{
    margin-left: 100px;
    margin-bottom: 148px;
}
.section__two-info{
    max-width: 892px;
    display: flex;
    justify-content: space-between;
}
.section__two-info h3{
    font-family: 'Ruda', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}
.section__two-info p{
    font-family: 'Open Sans', sans-serif;
    max-width: 291px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #D7D7D7;
}
.section__two-buttons{
    max-width: 156px;
    display: flex;
    flex-direction: column;
   align-items: center;
}
.section__two-info-button{
    color: #fff;
    padding: 16px 32px;
    width: 155px;
    height: 52px;
    border-radius: 4px;
    border: 1px solid #EA00AD;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 19px;
    margin-bottom: 24px;
}
.section__two-info-button:hover{
    background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
    border: 1px solid; 
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section__two-buttons img:hover{
    transform: translate(0px, 7px); 
    transition: 0.5s;
}
.section__two-buttons img{
    width: 16px;
    height: 32px; 
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.5s;
    
}
.section__two-gallery{
    display: flex;
    align-items: center;
    
}
.section__two-gallery_main{
    margin-right: 60px;
    position: relative;
}
.gallery-shape{
    position: absolute;
    top: 118px;
    right: 0;
    width: 176px;
    height: 160px;
    background: #232323;
    border-radius: 80px 0px 0px 80px;
}
.gallery-shape-text{
    font-family: 'Open Sans',sans-serif;
    transform: rotate(-31.38deg);
    padding: 29px 23px;
    border: 1px solid #FFF;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    margin-top: 24px;
    margin-left: 24px;
}
.gallery-shape-text p:nth-child(1){
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #D7D7D7;
}
.gallery-shape-text p:nth-child(2){
    text-align: center;
    line-height: 19px;
    color: #D7D7D7;
}
.section__two-gallery__items{
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.items-text{
    display: flex;
    align-items: center;
    margin-top: 32px;
    font-family: 'Open Sans';
    line-height: 22px;
    color: #D7D7D7;
    }
.items-text img{
    margin-right: 12px;
}
.section__three{
    margin: 0px 100px 196px 100px;
}
.section__three-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__three-title{
    font-family: 'Ruda', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 104px;
}
.section__three-cards{
    background: #211538;
    border-radius: 8px;
    width: 1240px;
}
.section__three-cards-items{
    display: flex;
    justify-content: space-around;
}
.section__three-cards-item{
    font-family: 'Open Sans', sans-serif;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 255px;
    padding: 48px 41px;
    text-align: center;
    transition: 0.4s;
}
.section__three-cards-item img{
    height: 88px;
    width: 88px;
    margin-bottom: 24px;
}
.section__three-cards-item h4{
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    width: 259px;
    margin-bottom: 16px;
}
.section__three-cards-item p{ 
    font-size: 14px;
    line-height: 150%;
    text-align: center;
}
.section__three-cards-item:nth-of-type(2){
    background: #301C49;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid #C522E4;
    transform: translate(0px, -48px);
}
.section__three-cards-item:nth-of-type(1):hover,.section__three-cards-item:nth-of-type(3):hover{
    background: #301C49;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid #C522E4;
    transform: translate(0px, -48px); 
    transition: 0.5s;
}
.section__four{
    margin-bottom: 148px;
}
.section__four-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}
.section__four-title{
    font-family: 'Ruda', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 56px;
}
.section__four_items{
    display: flex;
    justify-content: space-between;
    min-width: 1240px;
    max-width: 1240px;
    margin-bottom: 48px;
}
.section__four_item{
    padding: 24px 22px 40px 22px;
    border-radius: 4px;
    border: 1px solid #C522E4;
}
.section__four_item-gallery{
    display: flex;
 
}
.gallery-other-img{
    display: flex;
    flex-direction: column;
}
.gallery-main-img{
    width: 232px;
    height: 300px;
    border-radius: 4px;
    margin-right: 16px;
}
.other-img{
    margin-bottom: 16px;
}
.gallery-other-img-etc-button{
    position: relative;
}
.info-path{
    transition: 0.3s;
}
.info-path:hover{
    transform: translate(0px, -7px); 
    transition: 0.3s;
}
.other-img-numbers{
    position: absolute;
    top: 28px;
    right: 28px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}
.section__four_item-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-title{
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}
.text-subtitle{
    line-height: 22px;
    color: #D7D7D7;
}
.section__four-button{
    padding: 16px 32px;
    width: 119px;
    height: 54px;
    font-family: 'Ruda', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.section__five{
    margin-bottom: 148px;
}
.section__five-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__five-title{
    font-family: 'Ruda', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 56px;
}
.section__five-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 1240px;
    max-width: 1240px;
}
.section__five-info_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 1022px;
    max-width: 1022px;
}
.section__five-info_item{
    display: flex;
    align-items: center;
    background: rgba(217, 217, 217, 0.08);
    backdrop-filter: blur(2px);
    border-radius: 4px;
    padding: 24px;
    width: 317px;
    height: 128px;
    margin-bottom: 36px;
    transition: 1s;
}
.section__five-info_item img{
    margin-right: 20px;
}
.section__five-info_item-text{
    font-family: 'Open Sans', sans-serif;
}
.section__five-info_item-text h4{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
}
.section__five-info_item-text p{
    font-size: 14px;
    line-height: 19px;
}
.section__five-info_item:hover{
    background: linear-gradient(104.35deg, rgba(179, 33, 231, 0.4) 29.82%, rgba(105, 27, 242, 0.4) 97.24%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.6s;
    transform: translate(0px, -10px);
}
.section__six{
    margin-bottom: 148px;
}
.section__six-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__six-title{
    font-family: 'Ruda', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 56px;
}
.section__six-items{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    min-width: 1240px;
    
}
.section__six-item:hover{
    transform: translate(0px, -5px); 
    transition: 0.5s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section__six-item{
    border: 1px solid #C522E4;
    border-radius: 4px;
    width: 388px;
    padding: 24px 24px 37px 24px;
    transition: 0.5s;
}
.section__six-item-img{
    margin-bottom: 17px;
}
.section__six-item-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.section__six-item-data-name{
    display: flex;
    align-items: center;  
}
.section__six-item-data-name p{
    background: linear-gradient(95.85deg, #BA21E7 5.52%, #BB21E6 95.11%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.item-data{
    font-size: 14px;
    line-height: 19px;
}
.admin-img{
    margin-right: 14px;
}
.section__six-item-text{
    margin-bottom: 25px;
}
.section__six-item-text h4{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 16px;
}
.section__six-item-text p{
    font-size: 14px;
    line-height: 24px;
    color: #D7D7D7;
}
.section__six-item-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section__six-item-buttons-media{
    display: flex;
}
.message-img{
    margin-right: 24px;
}
.section__six-item-button{
    width: 119px;
    height: 39px;
    padding: 10px 20px;
    font-family: 'Ruda', sans-serif;
    line-height: 19px;
}
.footer-container{
    width: 1240px;
}
.footer-content h4{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 24px;
}
.footer-content a{
    font-family: 'DM Sans', sans-serif;
    line-height: 21px;
    color: #D7D7D7;
}
.footer-content p{
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    color: #D7D7D7;
}
.footer-content{
    display: flex;
    justify-content: space-between;

}
.footer__first-column{
    max-width: 314px;
    max-height: 171px;
}
.footer__first-column_buttons{
    max-width: 148px;
    display: flex;
    justify-content: space-between;
}
.footer__first-column p{
    margin-bottom: 32px;
}
.footer__firth-column{
   max-width: 307px; 
}
.footer__second-column li,.footer__third-column li{
    margin-bottom: 16px;
}
.footer__firth-column p{
    margin-bottom: 24px;
}
.footer-form{
    display: flex;
}
.footer-form input{
    font-family: 'DM Sans', sans-serif;
    background: transparent;
    border: 0.6px solid #D7D7D7;
    border-radius: 4px;
    font-size: 18px;
    color: #FFF;
    width: 295px;
    height: 48px;
    padding: 15px 70px 15px 16px;
}
.footer-form input::placeholder{
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #D7D7D7;
}
.footer-form button{
    background: transparent;
    border: 0.6px solid #EA00AD;
    border-radius: 4px;
    width: 48px;
    height: 48px;
    margin-left: -48px;
}
@media only screen and (min-width : 100px) and (max-width : 500px){
    .rightblock__counter_content{
        flex-direction: column;
        padding: 24px 47px 4px 47px;
    }
}
@media only screen and (min-width : 100px) and (max-width : 767px){
    
    .openbtn{
        color: #FFF;
        background-color: transparent;
        width: 155px;
        height: 52px;
        border-radius: 4px;
        border: 1px solid #EA00AD;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        line-height: 19px;

    }
    .openbtn:hover{
        background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
        border: 1px solid; 
        border-color: transparent;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .sidebar {
        height: 200px;
        width: 0;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(57, 36, 107, 0.342);
        overflow-x: hidden;
        transition: 0.4s;
        padding-top: 20px;
      }
    .sidebar .closebtn {
        position: absolute;
        top: 30px;
        right: 50px;
        font-size: 36px;
        margin-left: 50px;
    }
    .menu__list{
        flex-direction: column;
    }
    .menu__list li{
        margin-bottom: 15px;
    }
    .header{
        transition: margin-top .5s;
        padding: 16px;
      }
      .header__container{
        padding: 10px 0px;
      }
      .header__container{
        align-items: center;
      }
      .login{
        flex-wrap: wrap;
        justify-content: center;
      }
      .login p{
        margin-bottom: 10px;
      }
}

@media only screen and (min-width : 100px) and (max-width : 1239px) {
    
    .container{
        max-width: 95%;
    }
    .section__one{
        margin-left: 0px;
    }
    .section__one-content{
        flex-wrap: wrap;
    }
    .leftblock{
        width: 100%;
    }
    .section__four_item{
        margin-left: 10px;
    }
    .leftblock-content{
        width: auto;
    }
    .section__two-gallery{
        flex-wrap: wrap;
        justify-content: center;
    }
    .section__two-gallery_main{
        margin-right: 10px;
    }
    .gallery-shape{
        width: 100px;
        height: 100px;
        top: 50px;
    }
    .gallery-shape-text{
        padding: 14px 15px;
    width: 71px;
    height: 71px;
    margin-top: 15px;
    margin-left: 19px;
    }
    .gallery-shape-text p:nth-child(1){
        font-size: 16px;
        line-height: 21px;
    }
    .gallery-shape-text p:nth-child(2){
        font-size: 14px;
        line-height: 17px;
    }
    .section__two-gallery_main img{
        width: 300px;
        margin-bottom: 20px;
    }
    .section__two-gallery__items{
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .section__three{
        margin: 0px auto 50px auto;
    }
    .section__three-cards-item h4{
        width: auto;
    }
    .section__four{
        margin-bottom: 100px;
    }
    .section__four_items{
        flex-wrap: wrap;
        justify-content: center;
        min-width: auto;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .section__four_item{
        margin-bottom: 20px;
    }
    .gallery-main-img{
        height: 237px;
        width: auto;
    }
    .other-img{
        height: 67px;
    }
    .section__five{
        margin-bottom: 100px;
    }
    .section__five-info_item:nth-last-of-type(odd){
        display: none;
    }
    .section__five-info_items{
        margin-top: 36px;
        min-width: auto;
        max-width: 300px;
    }
    .section__five-info{
        display: flex;
        flex-direction: column;
    justify-content: center;
    min-width: auto; 
    max-width: 100%;
    flex-wrap: wrap;
    }
    .section__six-items{
        min-width: auto;
        max-width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
    .section__six-item{
        width: 90%;
        margin-bottom: 20px;
    }
    .section__six-item-img{
        height: auto;
        width: 100%;
    }
    .footer-content{
        flex-wrap: wrap;
    }
    .footer_column{
        margin-bottom: 20px;
    }
    .section__six-title{
        text-align: center;
    }
    .leftblock{
        margin-bottom: 90px;
    }
    
    .rightblock__counter_content-item{
        margin-bottom: 20px;

    }
    .section__two{
        margin-left: 0px;
        margin-bottom: 100px;
    }
    .section__two-info h3{
        margin-bottom: 20px;
    }
    .section__two-info{
        flex-wrap: wrap;
    }
    .section__two-info p{
        margin-bottom: 15px;
    }
    .section__two-buttons{
        margin-bottom: 20px;
    }
    .items-text{
        margin-top: 20px;
    }
    .section__three-title{
        text-align: center;
        margin-bottom: 50px;
    }
    .section__three-cards{
        width: 90%;
    }
    .section__three-cards-items{
        flex-wrap: wrap;
        width: auto;
    }
    .section__three-cards-item:nth-of-type(2){
        transform: none;
        padding: 48px 21px;
    }
    .section__three{
        margin-bottom: 90px;
    }
    h1{
        font-size: 54px;
        line-height: 70px;
     }
     .rightblock{
         margin-bottom: 50px;
     }
     .right-up-img{
         height: auto;
         width: 150px;
         top: 100px;
         right: 10px;
     }
     .up-img{
         left: 55%;
     }
     .right-img{
         bottom: 0px;
     }
     .left-up-img{
         height: auto;
         width: 120px;
     }
     .main-img{
         height: auto;
         width: 60%;
         left: 7%;
     }
     .leftblock-content{
         width: 100%;
         height: 600px;
     }
     .other-img-numbers{
        top: 16px;
        right: 16px;
     }
}
@media only screen and (min-width : 485px) and (max-width : 1239px){
    .section__two-gallery_main img{
        width: 360px;
    }
    .gallery-shape{
        top: 60px;
    }
    .section__five-info{
        flex-direction: row;
    }
    .info__left-path{
        margin-right: 20px;
    }
    .info__right-path{
        margin-left: 20px;
    }
    .section__six-item{
        width: 45%;
        margin-right: 10px;
    }
    .section__four_item{
        margin-left: 10px;
    }
    .rightblock{
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (min-width : 767.98px) and (max-width : 840px){
    .section__five-info_item{
        width: 280px;
    }
}
@media only screen and (min-width : 767.98px) and (max-width : 1239px){
    .section__one-content{
        flex-wrap: wrap;
    }
    .section__five-info_items{
        max-width: 100%;
        justify-content: space-around;
    }
    .section__five-info{
        flex-wrap: nowrap;
    }
    .section__five-info_item:nth-last-of-type(odd){
        display: flex;
    }
    
    .section__two{
        margin-top: 30px;
    }
    .section__two-gallery{
        flex-wrap: nowrap;
        justify-content: start;
    }
}
@media only screen and (min-width : 767.98px){
    .openbtn{
        display: none;
    }
    .closebtn{
        display: none;
    }
}
@media only screen and (min-width : 992.98px) and (max-width : 1200px){
    .section__one-content{
        flex-wrap: wrap;
    }
}
@media only screen and (min-width : 980px) and (max-width : 1239px){
    .rightblock{
        margin: 0;
    }
    .leftblock{
        width: 50%;
    }
    .section__one-content{
        flex-wrap: nowrap;
    }
    .section__two-gallery{
        flex-wrap: nowrap;
        justify-content: start;
    }
    .section__six-item{
        width: 34%;
    }
    .section__three-cards-items{
        flex-wrap: nowrap;
    }
    .section__three-cards-item:nth-of-type(2){
        transform: translate(0px, -20px);
    }
    .section__two-gallery_main{
        margin-right: 40px;
    }
}
@media only screen and (min-width : 1440px) and (max-width : 1920px){
    .container{
        max-width: 1600px;
    }
}

